
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
 #wrapper {
    width: 100%;
    padding-top:0px;
    background:#696969;
}
/*
#page-wrapper {
    padding: 15px 15px;
    min-height: 400px;
    background:#EEDD82;   /*  borda interna lado direito 
   
}

/*#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}
*/
/*
.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/


/*.text-box p{
    margin: 0 0 3px;
}
.main-text {
	color:#696969;
    font-size: 15px;
    font-weight:600;
}
.set-icon {
-webkit-border-radius: 26px;
-moz-border-radius: 26px;
border-radius: 25px;

}
.bg-color-green {*//*
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}
.bg-color-blue-ceu {
background-color: #1E90FF;
color: #fff;
}  
.bg-color-cinza {
background-color: #696969;
color: #fff;
}
.bg-color-ouro {
background-color: #EEDD82; 
color: #fff;
}

*/
/* .icon-box-right {
display: block;
float:   right;
margin:  0 15px 10px 0;
width:   70px;
height:  70px;
line-height:    75px;
vertical-align: middle;
text-align: center;
font-size:  40px;
}
*/


/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 0% auto;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
    border-radius: 0px;
    max-height:100px;
    max-width:100px;*/
}


/* cores
azul céu    #1E90FF
cinza claro #C1CDCD
cinza       #696969


*/




